@import "tailwindcss";

:root {
    --accent-color: #8672FF;
    --base-color: white;
    --text-color: #2E2B41;
    --input-color: #F3F0FF;
    --error-color: #f06272;
}

@layer base {
    dialog {
        margin: auto;
    }
}

.incorrect label {
    @apply bg-[#f06272];
}

.incorrect input {
    @apply border-[#f06272];
}

.checked {
    @apply opacity-50;
}

.bg-map-classic {
    @apply bg-[url('../../assets/pong/pong_classic_map.png')];
  }

.bg-map-tennis {
    @apply bg-[url('../../assets/pong/pong_tennis_map.png')];
  }

.bg-map-hell {
    @apply bg-[url('../../assets/pong/pong_hell_map.png')];
}

.bg-map-ice {
    @apply bg-[url('../../assets/pong/pong_ice_map.png')];
}
